:root {
  --main-font-family: "Roboto", sans-serif;
  --basic-color-font: #212121;
  --secondary-color-font: #757575;
  --color-accent: #2196F3;
  --secondary-color-accent:#FFFFFF;
  --main-beckground-color:#E5E5E5;}

.list {list-style: none;}

.link {text-decoration: none;}

h1,h2,h3,p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

img {
display: block;
}

address {font-style: normal;}

body {
font-family: var(--main-font-family);
font-size: 14px;
line-height: 1.14;
background: var(--main-beckground-color);
letter-spacing: 0.03em;
}

.conteiner {
width:1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;}

.section {
padding-top: 94px;
padding-bottom: 94px;}

/*=======HEADER=======*/

.header {
padding-top: 32px;
padding-bottom: 32px;
}

.header-conteiner {
display: flex;
}

.navigation {
display: flex;
align-items: center;
}

.header-conteiner {
display: flex;
justify-content:space-between;}

.logo {
  margin-right: 94px;
  margin-bottom: 26px;

  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height:1.19;
}

.main-logo {color:var(--color-accent)}

.nav-list { 
font-family:var(--main-font-family);
font-weight: 500;
letter-spacing: 0.02em;
color: var(--basic-color-font);
}

.nav-list:hover, 
.nav-list:focus 
{
color: var(--color-accent);
}

.nav-list-item:not(:last-child) {
margin-right: 50px;
margin-bottom: 26px;
}

.nav {
display: flex;
}
 
.contact-list-item:not(:last-child) {
margin-right: 50px ;
margin-bottom: 26px;}

.contact {display: flex;}

.is-active {color: var(--color-accent);}

.contact-mail {
font-family: var(--main-font-family);
font-weight: 500;
letter-spacing: 0.02em;
color: var(--secondary-color-font);}

.contact-mail:hover,
.contact-mail:focus {
color: var(--color-accent)
}

.contact-number {
font-family: var(--main-font-family);
font-weight: 500;
letter-spacing: 0.02em;
color: var(--secondary-color-font);}

.contact-number:hover,
.contact-number:focus 
{color: var(--color-accent);}

/*=======END HEADER=======*/

/*=======START HERO=======*/

.hero {color: #2F303A;}

.main-title {
font-family: var(--main-font-family);
font-style: Black;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;

/*color: var(--secondary-color-accent);*/
}

.modal-btn {
padding: 10px 32px;
border: var(--color-accent);

font-family: var(--main-font-family);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
color: var(--secondary-color-accent);
background:var(--color-accent);
cursor: pointer;}

.modal-btn:hover,
.modal-btn:focus
{background: var(--color-accent);}

/*=======END HERO=======*/

/*=======SECTION BENEFITS=======*/

/*.benefits {background:#E5E5E5;}*/

.benefits-list {display: flex;}

.subtitle {
  margin-bottom: 10px;

  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--basic-color-font);}

.subtitle-team {
  margin-bottom: 10px;

  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color:var(--basic-color-font);}

.text {
font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-color-font);
}

.text-team {font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--secondary-color-font);}

.title {
  margin-bottom: 50px;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  
  color: var(--basic-color-font);}

/*======= END SECTION BENEFITS=======*/

/*=======SECTION FIELD=======*/

.field {
display: flex;
flex-wrap: wrap;
margin-left: -30px;
margin-top: -50px;
}

.field-item {
flex-basis: calc(100%-90px)/3;
margin-left: 30px;
margin-top: 50px;
}
/*======= END SECTION FIELD=======*/

/*=======SECTION COMMAND=======*/

.team {
background: #F5F4FA;
}

.team-list {
display: flex;
flex-wrap: wrap;
margin-left: -30px;
margin-top: -50px;
}

.team-items {
flex-basis: calc(100%-120px)/4;
margin-left: 30px;
margin-top: 50px;}

.conteiner-team {
background: var(--secondary-color-accent);
padding-top: 3F0px;
padding-bottom: 30px;
border-radius: 0px 0px 4px 4px;
}

/*=======END SECTION COMMAND=======*/

/*=======FOOTER=======*/

.address {
font-family: var(--main-font-family);
font-style: Regular;
font-size: 14px;
line-height: 1.71;
/*color: var(--secondary-color-accent);*/}

/*======= END FOOTER=======*/

/*=======PORTFOLIO PADGE=======*/

.secondary-text {
font-family: var(--main-font-family);
font-size: 16px;
line-height: 1.87;

color: var(--secondary-color-font);}

.secondary-subtitle{
font-family: var(--main-font-family);
font-weight: 700;
letter-spacing: 0.06em;


color: var(--basic-color-font);}

.filter-btn {font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  color: var(--basic-color-font);
  background: #F5F4FA;}

.filter-btn:hover,
.filter-btn:focus {
  background: var(--color-accent);
  color: var(--secondary-color-accent);
  }